/* The asterisk sets the styling for all elements in the HTML document */
/* replace the default content-size with border-box */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
  }
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin:0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

section {
    padding: 60px;
}

/* needs a "." before any custom CSS classes */
/* hero style start */
.hero {
    /* ../ before any file paths to use relative path, telling CSS file to go up from css folder then look for images folder */
    background-image: url("../images/hero-bg.jpg");
    /* expands the hero section to 600px tall instead of matching the content */
    height: 600px;
    /* setting the background-size to cover will shrink the image to fit the box */
    background-size: cover;
    /* setting the background-position to center sets the initial position of the image in the element */
    background-position: center;
    position: relative;
}
/* hero style end */

/* hero form style start */
.hero-form{
    background-color: #fce138;
    /* padding = inner margin within border of element */
    padding: 20px;
    width: 500px;
    color: #024e76;
    /* can also use shorthand, border 'style' 'width' 'color' */
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    /* positioning notes:
    set bottom, right, left, top etc to 0px to align with that relative border/corner
    static = matches the HTML flow, default setting
    relative = positions the element relative to the elements preceding it
    absolute = positions the element within its parent container, ignores HTML flow, set the parent container positioning to relative, else it may use the wrong positioning
    fixed = positions the element relative to the browser window, no longer affected by scrolling, ignores HTML flow */
    position: absolute;
    bottom: 120px;
    right: 140px;

}
/* hero form style end */

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}