/* The asterisk sets the styling for all elements in the HTML document */
/* replace the default content-size with border-box */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
  }
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    /* justify-content controls main axis alignment
    which by default is horizontal spacing */
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin:0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items controls vertical alignment which
    by default is vertical spacing */
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    /* vw is viewport width, which will resize the text automatically */
    font-size: 1.55vw;
}

section {
    padding: 60px;
}

/* needs a "." before any custom CSS classes */
/* hero style start */
.hero {
    /* ../ before any file paths to use relative path, telling CSS file to go up from css folder then look for images folder */
    background-image: url("../images/hero-bg.jpg");
    /* setting the background-size to cover will shrink the image to fit the box */
    background-size: cover;
    /* setting the background-position to center sets the initial position of the image in the element */
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

}
/* hero style end */

/* hero call-to-action style start */
.hero-cta{
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

/* hero form style start */
.hero-form{
    background-color: #fce138;
    /* padding = inner margin within border of element */
    padding: 20px;
    color: #024e76;
    /* can also use shorthand, border 'style' 'width' 'color' */
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    width: 40%;
    margin: 3.5%;    
}
/* hero form style end */

.hero-form h3 {
    margin: 0px;
    font-size: x-large;
}

.hero-form p{
    margin: 5px 0 15px 0;
}

.hero-form label{
    margin: 0 5px;
}

.hero-form button{
    background-color: #024e76;
    color:#fce138;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.section-title {
    /* allows padding and margin to affect the formatting, but prevents the element from taking up the entire width of the container */
    font-size: 48px;
    color: #024e76;
    /* puts a space between the text and the bottom border line, and extends the border line out in 100px to the left and right */
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color:#39a6b2;
}

.intro p{
    line-height: 1.7;
    color:#39a6b2;
    /* width relative to its container */
    width: 80%;
    font-size:20px;
    /* auto tells browser to auto-calculate the margin for the specified side(s). If set to both sides of an element, it attempts to make them even, thus centering the content. */
    /* only works for centering horizontal elements */
    margin: 0 auto;
    text-align: center;
}

.steps {
    background: #fce138;
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3{
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
}

.step-info{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

/* added this rule for legacy browsers which 
have problems displaying images based on the size of their containers */
.step-img img {
    max-width: 100%;
}

.step-text{
    flex: 12;
}

.step-text p{
    color: #39a6b2;
    font-size: 18px;
}

.step-text h4{
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}

.trainers{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trainer{
    flex: 1;
    margin: 20px;
    background: #024e76;
    color: #fce138;
}

.trainer img{
    width: 100%;
}

.trainer-bio{
    padding: 25px;
    /* line-height: normal; */
}

.trainer-bio h3{
    font-size: 28px;
}

.trainer-bio h4{
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}


.contact-info{
    background-color: #024e76;
}

.contact-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: wrap;
}
.contact-columns *{
    flex: 1;
    /* margin: 15px; */
}

.contact-info h2{
    color:#fce138
}

.contact-columns iframe{
    flex: 1;
    height: 100%;
}

.contact-columns div{
   flex: 1;
   width: 100%;
   vertical-align: top;
   text-align: left;
   color: white;
   margin: 30px 0 0 60px;
   font-size: 18px;
}

.contact-columns h3{
    color:#fce138;
    font-size: 32px;
}

.contact-columns p, .contact-info address{
    line-height: 1.5;
    margin: 20px 0;
    font-style: normal;
    font-size: 16px;
}

.contact-columns a{
    color:#fce138;
}

.contact-form h3 {
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.contact-form button{
    width:100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.flex-row{
    display:flex;
}

/* MEDIA QUERY FOR SMALL DESKTOP SCREENS and smaller */
@media screen and (max-width: 980px) {
   
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}